@model PeopleManager.Model.Person

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this Person?</h2>

@Html.DisplayForModel()

@using (Html.BeginForm("DeleteConfirmation", "Person"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    
    @Html.ActionLink("No", "Index", "Person", new {@class="btn btn-default btn-lg"})
    <input type="submit" value="Yes" class="btn btn-default btn-lg" />
}